.items {
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}
.item {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 5px;
  background-color: #ccc;
}
